
<div class="guard-layout">
    <div class="guard-card">
        <p-card header="Выберите сервис авторизации">
            <p-button icon="pi pi-user" severity="contrast" label="Локальный сервис" size="large" (onClick)="localeClick()" variant="outlined" />
            <p-button icon="pi pi-google" severity="contrast" label="Google" size="large" [disabled]="true" variant="outlined" />
            <p-button icon="pi pi-apple" severity="contrast" label="Apple" size="large" [disabled]="true" variant="outlined" />
        </p-card>
    </div>
</div>